{% extends 'base.html' %}

{% block content %}
<h1> О нас </h1>

<p> Музыкальное издательство Dismal Gateways ориентируется на Black Metal и Dungeon Synth музыку. Глядя на беспрецедентный рост сцены «вширь» мы приняли решение брать под контроль качественную составляющую: пустых проектов (идеологически и музыкально) стало слишком много и теряется сама суть Черного Искусства – бескомпромиссность, интолерантность, идеология. 

Мы не хотим издавать всех подрядов ради того, чтобы кто-то мог закрыть свой гештальт (знаем, что это такое – проходили). Мы хотим быть вовлечены в творчество наших музыкантов равно также, как хотим, чтобы они сами были в него вовлечены. Мы взаимодействуем с музыкантами, даем критическую оценку, предлагаем помощь в графическом оформлении издания, производстве кассет и продвижении. В подобном творческом симбиозе и собираемся порождать черную магию. 

Enter the Dismal Gateways!

<p>
{% endblock %}
