{% load static %}
<nav class="navbar">
  <div class="left-section">
    <button class="products-button">
      <a href="/products/" style="color: rgb(71, 62, 62)">Релизы</a>
    </button>
    <button class="about-button">
      <a href="/about/" style="color: rgb(71, 62, 62)">О нас</a>
    </button>
    <button class="contact-button">
      <a href="/contact/" style="color: rgb(71, 62, 62)">Контакты</a>
    </button>
    <button class="reduction-button">
      <a href="/redaction/" style="color: rgb(71, 62, 62)">Редакция</a>
    </button>
  </div>
  <div class="middle-section">
    <input class="search-bar" type="text" placeholder="Search" />
  </div>
  <div class="right-section">
	  <img class="cart-logo" src="{% static '/cart.jpg' %}" alt="" />
  </div>
</nav>
