{% extends 'base.html'%} {% load static %} {% block content %}
<h1>Релизы</h1>
<div class="release-grid">
  {% for instance in object_list %}
  <div class="release-sum">
    <div class="label-number">
      <p>{{instance.label_number}}</p>
    </div>
    <div class="label-artist">
      <p>{{instance.artist}}</p>
    </div>
    <div class="album">
      <a href="{{ instance.get_absolute_url }}">{{instance.album}}</a>
    </div>
    <div class="album-logo">
      <img class="logo-preview" src="PICTURE.jpg" alt="" />
    </div>
    {% if instance.cover_art_img %}
    <img src="{{instance.cover_art_img.url}}" />
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endblock %}
